<!DOCTYPE html>
<html lang="en" data-theme="dark" :class="theme.name" x-data="xDOM">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if noindex %}
      <meta name="robots" content="noindex">
    {%- endif %}

    <!-- Metadata -->
    <title>{{ title or metadata.title }}{{ suffix or metadata.suffix }}</title>
    <meta name="author" content="Aleksandr Zapparov">
    <meta name="description" content="{{ desc or description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <!-- Social -->
    <meta property="og:title" content="{{ title or metadata.title }}{{ suffix or metadata.suffix }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:description" content="{{ desc or description or metadata.description }}">
    <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
    <meta property="og:image" content="{{ metadata.url }}">
    <meta property="og:image:alt" content="{{ title or metadata.title }}">
    <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
    <meta name="twitter:title" content="{{ title or metadata.title }}{{ suffix or metadata.suffix }}">
    <meta name="twitter:description" content="{{ desc or description or metadata.description }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ metadata.author.twitter }}" />
    <meta name="twitter:creator" content="@{{ metadata.author.twitter }}">
    <meta name="twitter:image" content="{{ metadata.url }}" />
    <meta name="twitter:image:alt" content="{{ title or metadata.title }}">

    {%- if eleventy.env.runMode === "serve" -%}
      <link rel="stylesheet" href="/css/main.css">
    {%- else -%}
      <style>{%- include "../../../_site/css/main.css" -%}</style>
    {%- endif -%}

    <!-- Firebird Integration -->
    <script defer data-domain="zapparov.dev" src="https://firebird.beastful.org/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    <!-- End Firebird Integration -->
  </head>
  <body class="bg-skin text-carbon-500 dark:text-skin-50 dark:bg-carbon antialiased prose h-full">
    <div class="flex flex-col min-h-screen mx-auto sm:px-8 max-w-7xl">

      {% include "partials/header.njk" %}

      <main class="my-12 grow">
        <div class="container">
          {% block content %}
            {{ content | safe }}
          {% endblock %}
        </div>
      </main>

      {% include "partials/footer.njk" %}

    </div>
    <script defer src="/js/main.js"></script>
  </body>
</html>
