<!DOCTYPE html>
<html lang="en" x-data="xDOM">
  <head>
    {% include "partial/metagen.njk" %}
    {% include "partial/scripts-head.njk" %}
    {% include "partial/google-tag.njk" %}

    <!-- Plausible Integration -->
    <script defer data-domain="zapparov.dev" src="https://plausible.io/js/script.js"></script>
    <!-- End Plausible Integration -->
    <link rel="stylesheet" href="/css/styles.css"/>

    {% block head %}{% endblock %}
  </head>
  <body class="antialiased">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDCLTSV"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="max-w-7xl mx-auto px-8">
      {% include "../partial/navbar.njk" %}

      <main class="my-8">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>

      {% include "../partial/footer.njk" %}

    </div>
    <script defer src="/js/scripts.js"></script>
  </body>
</html>
