<!DOCTYPE html>
<html lang="en" data-theme="dark" :class="theme.name" x-data="xDOM">
  <head>
    {% include "partials/metagen.njk" %}
    {% include "partials/scripts-head.njk" %}
    {% include "partials/firebird.njk" %}

    <link rel="stylesheet" href="/css/styles.css"/>

    {% block head %}{% endblock %}
  </head>

  <body class="bg-skin dark:text-pale dark:bg-carbon antialiased">

    <div class="mx-auto sm:px-8 max-w-7xl">

      <main class="my-8">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>

    </div>
  <script defer src="/js/scripts.js"></script>
  </body>
</html>
