---
title: Contact Aleksandr Zapparov
description: Aleksandr Zapparov Contacts
layout: base.njk
permalink: /contacts/
---

<div class="w-full bg-base-200 rounded-md py-6 px-28">

    <div class="bg-base-200 rounded-md">
        <div class="flex justify-between items-center lg:flex-row-reverse">
            {% image "../img/zapalblizh.jpeg", "Picture of Aleksandr Zapparov", [295, 360, 425, 768],
            "max-w-sm rounded-lg shadow-2xl w-[295px] h-[295px]", "(min-width: 295px)" %}

            <div class="gap-y-6">
                <h1 class="text-3xl font-bold">Contact me by:</h1>
                <div class="py-6">
                    <ul role="list" class="space-y-8">
                        <li class="flex gap-x-3">
                            <span><strong class="font-semibold">My Github: </strong><a class="link text-blue-400 cursor-pointer" target="_blank" href="https://github.com/zapalblizh">Check my Github profile out!</a></span>
                        </li>

                        <li class="flex gap-x-3">
                            <span><strong class="font-semibold">My Linkedin: </strong><a class="link text-blue-400 cursor-pointer" target="_blank" href="https://www.linkedin.com/in/aleksandr-zapparov-7b3202255/">Check my Linkedin profile out!</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
