---
title: About Aleksandr Zapparov
description: About Aleksandr Zapparov
layout: base.njk
permalink: /
---

<div class="container bg-skin-600 dark:bg-zinc-800 rounded-xl mx-auto flex items-center justify-between px-6 py-8 sm:py-32 lg:px-0">

  <div class="grid gap-x-8 items-center justify-center grid-cols-1 md:grid-cols-2 md:px-6">
    <div class="order-last md:order-first prose">
      <h1 class="text-3xl sm:text-4xl text-center md:text-start">About Me</h1>

      <p>
        My name is Aleksandr Zapparov and I'm 17 years old.
        I'm a self-taught web developer and so far, i've acquired experience in HTML, CSS, Javascript, Node.js, Alpine.js, Nunjucks, TailwindCSS, Eleventy, Netlify, Cloudflare, Hubspot CMS, HubL and GSAP.
      </p>

      <p>In my free time, I love to play chess, solve puzzles, play video games and gain new knowledge and news about technological news.</p>
    </div>

    {% image "../assets/img/zapalblizh.jpeg", "Picture of Aleksandr Zapparov", [360, 425, 768],
      "rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]", "(min-width: 360px)" %}
  </div>



</div>
