---
title: About Aleksandr Zapparov
description: About Aleksandr Zapparov
layout: base.njk
permalink: /
---

<section class="flex justify-center bg-skin-600 dark:bg-zinc-800 rounded-xl mx-auto px-6 sm:px-10 py-8 sm:py-32">
  <div class="grid lg:grid-cols-3 gap-4 lg:gap-8">
    <div class="prose col-span-2">
      <h1 class="text-3xl sm:text-4xl text-center lg:text-start my-6">Hello There, I'm Aleksandr</h1>

      <p>
        I'm 18 years old, and I'm currently attending the University Francisco de Vitoria for my Degree on Computer Engineering with the Cybersecurity Diploma.
        I'm passionate about new technologies and their applications, along with pleasures such as chess, video games as well as gaining new knowledge every day.
      </p>
    </div>

    <div class="hidden lg:block">
      <img class="mx-auto rounded-md" src="../assets/img/zapalblizh.jpeg" alt="Picture of Aleksandr Zapparov" />
    </div>
  </div>
</section>
