<footer x-ref="footer">
  <div class="w-full bg-skin-600 dark:bg-zinc-800 md:rounded-md mx-auto flex container items-center justify-between sm:my-6 p-4">
    <div>
      <p>© {% year %} Aleksandr Zapparov </p>
    </div>
    <div>
      <div class="grid grid-flow-col gap-4">
        <span><a target="_blank" href="https://github.com/zapalblizh">{% svg "github-logo", "size-7" %}</a></span>
        <span><a target="_blank" href="https://www.linkedin.com/in/aleksandr-zapparov/">{% svg "linkedin-logo", "size-7" %}</a></span>
      </div>
    </div>
  </div>
</footer>
